/* Breakpoints HP */

@media screen and (max-width: 480px) {
  .nav-wrapper h1 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  .nav-wrapper .container ul {
    display: none;
  }

  /* Content */
  .content-wrapper {
    text-align: center;
    font-size: 33px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    margin-top: 70px;
  }

  .content-wrapper span {
    color: #ffd966;
  }

  .content-wrapper p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgba(117, 117, 118, 0.5);
    margin-top: 32px;
    letter-spacing: 1px;
  }

  .content-wrapper img {
    width: 100px;
    margin-top: 32px;
  }

  /* About-me */
  .wrapper-about-me .about-me h2 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  .wrapper-about-me .about-me p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    text-align: justify;
  }

  /* Project */

  .img-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .img-wrapper .img-content img {
    width: 200px;
    box-shadow: 10px 10px 8px #888888;
  }

  /* Contact-me */

  .contact-me h2 {
    text-align: center;
    padding-top: 65px;
    font-weight: bolder;
    font-size: 23px;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 35px auto;
  }

  .btn {
    background-color: #daca3b;
    font-family: inherit;
    margin: 0 auto;
    font-size: 20px;
    width: 320px;
    padding: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  /* Footer */

  .footer-wrapper {
    display: flex;
    padding: 28px;
    height: 138px;
    flex-direction: column;
  }

  .footer-wrapper h1 {
    letter-spacing: 5px;
    font-size: 25px;
  }

  .footer-list ul {
    line-height: 30px;
  }
}

/* Breakpoints Tablet */

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .content-wrapper {
    font-size: 50px;
  }

  .content-wrapper img {
    width: 180px;
    margin-top: 32px;
  }

  .content-wrapper p {
    font-size: 33px;
  }

  .img-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }

  .img-wrapper .img-content img {
    width: 280px;
    box-shadow: 10px 10px 8px #888888;
  }

  .contact-me h2 {
    font-size: 25px;
  }

  .contact-me form {
    width: 500px;
  }

  .btn {
    width: 500px;
  }
}

/* Breakpoints Desktop */

@media screen and (min-width: 1024px) {
  /* Header */

  .nav-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .nav-wrapper h1 {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .nav-wrapper .container {
    display: flex;
    color: white;
    margin-left: 20px;
    padding: 10px;
  }

  .nav-wrapper .container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
  }

  .nav-wrapper .container a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }

  /* Content */
  .content-wrapper {
    text-align: center;
    font-size: 70px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    margin-top: 70px;
  }

  .content-wrapper span {
    color: #ffd966;
  }

  .content-wrapper p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 100;
    color: rgba(117, 117, 118, 0.5);
    margin-top: 32px;
    letter-spacing: 1px;
  }

  .content-wrapper img {
    width: 15%;
    margin-top: 32px;
  }

  /* About-me */
  .wrapper-about-me {
    background-color: rgba(209, 211, 223, 0.44);
    text-align: center;
    padding: 80px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .wrapper-about-me .about-me h2 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  .wrapper-about-me .about-me p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: 500;
  }

  /* project */
  .project-wrapper {
    text-align: center;
    margin-top: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .img-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .img-wrapper .img-content {
    margin-top: 50px;
  }

  .img-wrapper .img-content img {
    width: 300px;
    box-shadow: 10px 10px 8px #888888;
  }

  .img-wrapper .img-content p {
    font-family: inherit;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
  }

  /* Contact-me */
  .contact-me {
    background-color: rgba(209, 211, 223, 0.44);
    margin-top: 100px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    height: 600px;
  }

  .contact-me h2 {
    text-align: center;
    padding-top: 65px;
    font-weight: bolder;
    font-size: 30px;
  }

  .contact-me form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 35px auto;
  }

  .contact-me form label {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .contact-me form label::after {
    content: "*";
    color: red;
  }

  .contact-me form input,
  .contact-me form textarea {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
  }

  .contact-me form input::placeholder,
  .contact-me form textarea::placeholder {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  .btn {
    background-color: #daca3b;
    font-family: inherit;
    margin: 0 auto;
    font-size: 20px;
    width: 450px;
    padding: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  /* Footer */
  .footer-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    padding: 40px;
    height: 120px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    justify-content: space-between;
  }

  .footer-wrapper h1 {
    letter-spacing: 8px;
  }

  .footer-list ul {
    list-style: none;
    margin-top: 10px;
    line-height: 40px;
    font-weight: 100;
  }

  .footer-list ul li a {
    text-decoration: none;
    color: inherit;
  }
}
